
#checkButton {
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 2px;
    position: relative;
    background-color: #b71cf4;
    border: none;
    color: white;
    padding: 15px;
    width: 200px;
    transition-duration: 0.4s;
    overflow: hidden;
    box-shadow: 0 5px 15px #193047;
    border-radius: 4px;
}

#checkButton:hover {
    background: #ce82ec;
    color: #fff;
}

#checkButton::after {
    content: "";
    background: #ce82ec;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

#checkButton:active::after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

#checkButton:focus {outline: 0}